aicspylibczi==3.3.1
aiobotocore==2.26.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
alphabase==1.8.1
anndata==0.12.10
annotated-types==0.7.0
annsel==0.1.2
antlr4-python3-runtime==4.9.3
array-api-compat==1.14.0
attrs==25.4.0
biopython==1.87
botocore==1.41.5
cellpose==4.0.8
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
cmake==4.3.1
colorcet==3.1.0
contextlib2==21.6.0
contourpy==1.3.3
cycler==0.12.1
dask==2026.1.1
dask-image==2025.11.0
datashader==0.18.2
distributed==2026.1.1
docrep==0.3.2
donfig==0.8.1.post1
dvp-io==0.4.1
einops==0.8.2
fa2_modified==0.4
fast-array-utils==1.3.1
fastremap==1.17.7
filelock==3.20.0
fill_voids==2.1.1
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.12.0
geopandas==1.1.2
google-crc32c==1.8.0
h5py==3.15.1
hdbscan==0.8.41
hdf5plugin==6.0.0
hilbertcurve==2.0.5
-e git+https://github.com/huBioinfo/HRCHY-CytoCommunity.git@19a62cef99686793ad2914884e004534e219513c#egg=hrchy_cytocommunity
hydra-core==1.3.2
hypothesis==6.151.11
idna==3.11
igraph==1.0.0
imagecodecs==2025.11.11
ImageIO==2.37.2
importlib_metadata==8.7.1
inflect==7.5.0
iniconfig==2.3.0
instanseg-torch==0.1.1
iopath==0.1.10
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
kiwisolver==1.4.9
lazy_loader==0.4
legacy-api-wrap==1.5
leidenalg==0.11.0
llvmlite==0.46.0
locket==1.0.0
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.8
matplotlib-scalebar==0.9.0
mdurl==0.1.2
-e git+ssh://git@github.com/peptiderodriguez/xldvp_seg.git@b6d72e99af78e8c32e003fb39439e5698991499d#egg=mkseg
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
multipledispatch==1.0.0
multiscale_spatial_image==2.0.3
narwhals==2.17.0
natsort==8.4.0
networkx==3.6.1
numba==0.64.0
numcodecs==0.16.5
numpy==2.1.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
ome-zarr==0.13.0
omegaconf==2.3.0
omnipath==1.0.12
opencv-python==4.13.0.90
opencv-python-headless==4.13.0.90
openslide-bin==4.0.0.13
openslide-python==1.4.3
orjson==3.11.7
packaging==25.0
pandas==2.3.3
param==2.3.2
partd==1.4.2
pathlib_abc==0.5.2
patsy==1.0.2
pillow==12.0.0
PIMS==0.7
platformdirs==4.9.2
plotly==6.6.0
pluggy==1.6.0
pooch==1.9.0
portalocker==3.2.0
propcache==0.4.1
psutil==7.2.1
py-lmd==1.5.0
pyahocorasick==2.3.0
pyarrow==23.0.1
pyct==0.6.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pylibCZIrw==6.0.1
pynndescent==0.6.0
pyogrio==0.12.1
pyparsing==3.3.1
pyproj==3.7.2
pyteomics==4.7.5
pytest==9.0.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyWavelets==1.9.0
PyYAML==6.0.3
rangehttpserver==1.4.0
rdkit==2026.3.1
rdp==0.8
regex==2026.4.4
requests==2.32.5
rich==14.3.3
roifile==2026.1.8
ruff==0.15.4
s3fs==2025.12.0
SAM-2 @ git+https://github.com/facebookresearch/segment-anything-2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4
scanpy==1.11.5
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
segment-anything==1.0
session-info2==0.4
shapely==2.1.2
six==1.17.0
slicerator==1.1.0
sortedcontainers==2.4.0
spatial_image==1.2.3
spatialdata==0.7.2
spatialdata-plot==0.2.14
squidpy==1.8.1
statsmodels==0.14.6
svgelements==1.9.6
sympy==1.13.1
tblib==3.2.2
texttable==1.7.0
threadpoolctl==3.6.0
tifffile==2026.1.14
toolz==1.1.0
torch==2.6.0+cu124
torch-geometric==2.7.0
torch_cluster==1.6.3+pt26cu124
torch_scatter==2.1.2+pt26cu124
torch_sparse==0.6.18+pt26cu124
torchvision==0.21.0+cu124
tornado==6.5.4
tqdm==4.67.1
triton==3.2.0
typeguard==4.5.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
umap-learn==0.5.11
universal_pathlib==0.3.10
urllib3==2.6.3
validators==0.35.0
wrapt==1.17.3
xarray==2026.2.0
xarray-dataclass==3.0.0
xarray-spatial==0.5.3
-e git+ssh://git@github.com/peptiderodriguez/xldvp_seg.git@b6d72e99af78e8c32e003fb39439e5698991499d#egg=xldvp_seg
xmltodict==1.0.4
xxhash==3.6.0
yarl==1.22.0
zarr==3.1.5
zict==3.0.0
zipp==3.23.0
